
/* this is where you will define your stylesheet for non-touchscreen devices */

/* style applied to the navigation links that should not be visible */
.hidden {
	display: none;
}

/* style applied to the li for the current view */
.currentpage > a {
	font-weight: bold;
	text-decoration: none;
}